---
layout: layouts/base.njk
---
<article class="post">
  <p class="post-date">{{ date | formatDate }}</p>
  <h1>{{ title }}</h1>
  {% if image %}
  <img class="post-image" src="{{ image }}" alt="{{ title }}" />
  {% endif %}
  <div class="post-body">{{ content | safe }}</div>
</article>
